.habits {
  vertical-align: center;
}
#habits__benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "intention intentional__img"
    "developer developer__img"
    "celebration celebration__img"
    "emotion accountability__img";
  height: 80%;
  margin: 31px 0px;
  margin-left: 10px;
  overflow-y: scroll;
  color: #707070;
}

#benefits__title {
  grid-area: title;
  margin: 0px 0px 40px 40px;
  font-size: 41px;
  color: #707070;
}

/* styling used for description containers and images */

.containers {
  margin: 0 110px;
}

.image__container {
  display: flex;
  justify-content: center;
  width: 488px;
  height: 230px;
  border-radius: 17px;
  margin: 0px 40px 30px 40px;
}

.images {
  justify-self: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Title + Description of Divs */

#developer__container {
  padding-top: 30px;
  grid-area: developer;
}

#intentional__container {
  grid-area: intention;
}

#celebration__container {
  grid-area: celebration;
  margin-right: 20px;
}

#accountability__container {
  grid-area: emotion;
  padding-left: 30px;
}

/* Image Containers */
#developer__img__container {
  background-color: olive;
}

#developer__img {
  grid-area: developer__img;
  background-image: url("../../images/developer.png");
  width: 488px;
  height: 230px;
  border-radius: 17px;
}

#consistency__img__container {
  background-color: olive;
  margin-right: 20px;
}

#consistency__img {
  grid-area: consistency__img;
  background-image: url("../../images/consistency.png");
  width: 488px;
  height: 230px;
  border-radius: 17px;
}

#intentional__img__container {
  background-color: olive;
}

#intentional__img {
  grid-area: intentional__img;
  background-image: url("../../images/consistency.png");
  width: 488px;
  height: 230px;
  border-radius: 17px;
}

#celebration__img__container {
  background-color: olive;
}

#celebration__img {
  grid-area: celebration__img;
  background-image: url("../../images/celebration.png");
  width: 488px;
  height: 230px;
  border-radius: 17px;
}

#accountability__img__container {
  background-color: olive;
}

#accountability__img {
  grid-area: accountability__img;
  background-image: url("../../images/accountability.png");
  width: 488px;
  height: 230px;
  border-radius: 17px;
}

#credit {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

#credit h1 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid olive;
  padding-bottom: 0.5rem;
}

#credit a {
  color: plum;
  text-decoration: none;
  transition: color 0.2s;
  margin: 0.3em 0;
}

#credit a:hover {
  color: #2678e4;
}
