/* body {
  background: lightyellow;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
} */

.btn {
  background: olive;
  margin: 30px;
}

.add-btn {
  background: olive;
}
.app-title {
  text-align: center;
  color: rgb(202, 202, 113);
  font-size: 30px;
}
.container {
  text-align: center;
  height: 60%;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.listItem {
  text-decoration: none;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

/* // style={{
    //   padding: 30,
    //   textAlign: "center",
    //   maxWidth: 500,
    //   margin: "auto",
    // }} */
