.dashboard {
  font-family: "Roboto", "Helvetica Neue";
  min-height: 100vh;
  display: flex;
  background: rgb(26, 26, 1);
}

.container {
  width: 80%;
  text-align: center;
}

/* creating grid */
.gallery {
  width: 80%;
  height: 90%;
  display: grid;
  margin: 3rem auto;
  text-align: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 3vw);
  grid-gap: 1rem;
}

/* .box_title {
  margin: 10%;
  font-size: 200%;
} */

.app-title {
  font-size: 400%;
  font-family: "Roboto";
}

#profile {
  display: table;
  background-color: rgb(65, 65, 6);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  border-radius: 10px;
  box-shadow: 2px 2px #0b1001;
  /* margin: 0 auto; */
}
#profileImg {
  vertical-align: middle;
  display: table-cell;
}
#profileBody {
  vertical-align: middle;
  display: table-cell;
}

#smartGoalBox {
  background-color: rgb(65, 65, 6);
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 5;
  border-radius: 10px;
  border-color: black;
  box-shadow: 2px 2px #0b1001;
}
#smartGoalCategory {
  color: rgb(202, 202, 113);
  font-size: 30px;
  margin-bottom: 30px;
}
#smartGoal {
  color: olive;
  font-size: 20px;
  background-color: rgb(202, 202, 113);
}
.toDoList {
  color: white;
  background-color: rgb(65, 65, 6);
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 7;
  border-radius: 10px;
  box-shadow: 2px 2px #0b1001;
}
.quoteAPI {
  background-color: rgb(65, 65, 6);
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 7;
  border-radius: 10px;
  box-shadow: 2px 2px #0b1001;
  font-size: 30px;
  color: olive;
  padding: 10px;
}

.journal {
  background-color: rgb(65, 65, 6);
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 13;
  border-radius: 10px;
  box-shadow: 2px 2px #0b1001;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.journalEntries {
  margin: 10px 10px 10px 10px;
}

.habitEntries {
  color: rgb(202, 202, 113);
  padding: 20px;
  background-color: rgb(65, 65, 6);
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 7;
  grid-row-end: 13;
  border-radius: 10px;
  box-shadow: 2px 2px #0b1001;
  text-align: center;
}
.w3-table-all {
  text-align: center;
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  box-shadow: 2px 2px #a5a5a5;
}
